@font-face {
    font-family: "playfairdisplay";
    src:
        url("fonts/playfairdisplay-italic-variablefont_wght-webfont.woff2") format("woff2"),
        url("fonts/playfairdisplay-italic-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

/* Defining different styles of the font used */
@font-face {
    font-family: "playfairdisplay";
    src:
        url("fonts/playfairdisplay-variablefont_wght-webfont.woff2") format("woff2"),
        url("fonts/playfairdisplay-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/* Styling links */

* {
    font-family: "playfairdisplay", Times, serif;
}

a {
    color: hotpink;
}

.nav-list {

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;

    border-radius: 12px;
    padding: 1em 0.5em 1em 0.5em;
    width: max-content;
    background-color: rgb(0, 51, 128);
    margin: 50px auto 50px auto;

    & a {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: white;

        &:hover {
            background-color: #1565C0;
        }
    }

    & li {
        color: hsl(0, 0%, 100%);
    }
}

@media all and (max-width: 800px) {
    .navigation {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
    }
}

@media all and (max-width: 500px) {
    .navigation {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

#date {
    text-align: center;
}

body p {
    margin-left: 50px;
}

main>section {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2+p {
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

summary {
    max-width: fit-content;
    width: 250px;
    height: 4%;
    min-width: 50px;
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    /* font-size: 3em; */
    text-align: center;
}