/* Defining different styles of the font used */
@font-face {
    font-family: "playfairdisplay";
    src:
        url("fonts/playfairdisplay-italic-variablefont_wght-webfont.woff2") format("woff2"),
        url("fonts/playfairdisplay-italic-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "playfairdisplay";
    src:
        url("fonts/playfairdisplay-variablefont_wght-webfont.woff2") format("woff2"),
        url("fonts/playfairdisplay-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "playfairdisplay", Times, serif;
    --nav-link-color: color-mix(in lch, plum 40%, pink);
}

/* Styling links */
a {
    color: hotpink;

    &[title] {
        color: purple;
    }
}

header {
    position: sticky;
    top: 10px;
}

.nav-list {
    /* Set up flex layout */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: sticky;
    top: 10px;

    list-style: none;

    border-radius: 12px;
    padding: 1em 0.5em 1em 0.5em;
    width: max-content;
    background-color: rgb(0, 51, 128);
    margin: 0 auto 50px auto;

    /* style links in nav bar */
    & a {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: var(--nav-link-color, red);

        /* extra styling on hover */
        &:hover {
            background-color: #1565C0;
            color: color(srgb-linear 1 1 0);
        }

        /* extra styling on active */
        &:active {
            background-color: #1565C0;
            color: white;
        }
    }

    & li {
        color: hsl(0, 0%, 100%);
    }
}

@media all and (max-width: 800px) {
    .nav-list {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
    }

    header {
        position: static;
    }
}

@media all and (max-width: 500px) {
    .nav-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }

    header {
        position: static;
    }
}

/* Center align date */
#date {
    text-align: center;
    text-decoration: underline;
}

summary:has(+p) {
    color: chocolate;
}

/* Indent body text */
body p {
    min-width: auto;
    margin-left: 50px;
}

/* Extra indent for main sections */
main>section {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Indent the subsections */
h2+p {
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

ol,
ul {
    border: 4mm ridge rgba(211, 220, 50, .6);
}

ol.nav-list {
    border: 4mm ridge rgb(184, 30, 158);
}

legend~label {
    font-style: italic;
}

details {
    max-width: 350px;
    border-radius: 2%;
    border-style: double;
    border-color: burlywood;
    border-width: thin;
}

/* Size details */
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#pranav-details {
    grid-column: 1 / 3;
    grid-row: 1;
}

#cameron-details {
    grid-column: 2 / 3;
    grid-row: 1;
}

#jesus-details {
    grid-column: 3 / 3;
    grid-row: 1;
}

.hidden {
    display: none;
}

video {
    max-width: 100%;
    height: auto;
}

audio {
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}